@import url(blocks.css);
@import url(fonts/stylesheet.css);
@import url(components.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: default;
}

.html, body {
    background-color: #171717;
}